/*================================================
                 settings.scss
================================================*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:after, :before {
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
hgroup,
nav,
section,
summary,
a {
  display: block;
}

svg {
    display: block;
}

button,
select {
  text-transform: none;
}

html {
    background: $background;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

ul{
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Custom Scrollbar ?
/*
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background: $deriv-background;
    box-shadow: inset $shadow;
}

::-webkit-scrollbar-thumb {
    background: $deriv-main-color;
}

::-webkit-scrollbar-thumb:hover {
    filter: brightness(90%);
}*/
