.slider {
    position: relative;
    z-index: 1;
    .count{
      position: absolute;
      bottom: 8%;
      left: 50%;
      transform: translateX(-50%);
      color: #ffffff;
      font-size: 1.1em;
    }
    img {
      height: 415px;
      width: 100%;
      border-radius: 25px;
      object-fit: cover;
    }
    .left-chevron {
      position: absolute;
      z-index: 5;
      top: 180px;
      left: 20px;
      width: 5rem;
      height: 5rem;
      color: #ffffff;
    }
    .right-chevron {
      position: absolute;
      z-index: 5;
      top: 180px;
      right: 20px;
      width: 5rem;
      height: 5rem;
      color: #ffffff;
    }
  }
  
  @media screen and (max-width: 762px) {
    .slider {
      .count{
        display: none;
      }
      img {
        height: 255px;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
      .left-chevron {
        top: 90px;
        width: 2rem;
      }
      .right-chevron {
        top: 90px;
        width: 2rem;
      }
    }
  }