.button-contact {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $second-main-color;
    background-color: $main-color;
    height: 120px;
    width: 350px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    font-size: 1.8em;
    transition: all 0.8s ease-in-out;
    .radio {
        position: relative;
        font-size: 165px;
        top: -9%;
        left: -62%;
        transition: all 0.8s ease-in-out;
    }
    .content-contact{
        position: relative;
        left: 50%;
        opacity: 1;
        transition: all 0.8s ease-in-out;
    }
    .clique-contact{
        position: relative;
        left: -10%;
        opacity: 0;
        transition: all 0.8s ease-in-out;
    }
    &:hover {
        .radio{
            animation: radio-translate 0.8s ease-in-out;
            animation-fill-mode: forwards;
        }
        .content-contact {
            animation: content-opacity 0.8s ease-in-out;
            animation-fill-mode: forwards;
        }
        .clique-contact{
            animation: clique-opacity 0.8s ease-in-out;
            animation-fill-mode: forwards;
        }
    }
}




.button-contact-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $main-color;
    border-color: $main-color;
    box-shadow: $shadow;
    height: 60px;
    width: 180px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    transition: transform .3s;
    &:hover{
        transform: scale(1.09);
    }
}



.button-send{
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: $deriv-main-color;
}






