header {
  height: $header-height;
  display: flex;
  justify-content: center;
  background: $main-color;
  padding: 0 5%;
  box-shadow: $shadow;
  font-size: $font-size-header-footer;

  .logonav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;

    .list {
      display: flex;

      ul {
        display: flex;
        
        li {
          a.font {
            color: $second-text-color;
            display: flex;
            align-items: center;
            height: $header-height;
            padding: 0 15px;
            transition: 0.2s;

            &:hover,
            &.active{
                background-color: $deriv-main-color;
            }
          }
        }
      }
    }

    .logonav {
      .imagelogo {
        width: calc($header-height - 15px);
        height: calc($header-height - 15px);
        border-radius: 10px;
        display: block;
      }
    }
  }
}
